:root {
    --card-width: 200px;
    --card-gap: 1rem;
    --visible: 4;
    --step: 220px;
}


*{
    margin: 0;
    color: #C7D5E0;
    font-family: 'Orbitron', sans-serif;
}


body {
    background-color: #2A475E;
}

/*-------------------inicio navbar---------------*/

nav{
    display: flex;
    justify-content: space-between;
    background-color:  #171A21;
    height: 5rem;
}


nav #menu-hamburguesa {
    background-color: #171A21;
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}
nav a{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    text-decoration: none;
    
}
nav a img {
    height: 3rem;
}
nav a span {
    font-family: "Cinzel", serif;
    font-weight: 700;
    font-optical-sizing: auto;
    color: #C49A3E;
}

nav #links-menu-hamburguesa {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-right: 2rem;
    
}

nav ul li a{
    
    color: #909CB8;
    font-family: "Cinzel", serif;
    font-weight: 700;
    font-optical-sizing: auto;
}

/*principal*/
main {
    width: 100%;
    
}

.titulo-principal {
    position: relative;
    width: 100%;
    height: 70vh;
    background: url("../img/fondo-titulo.webp") no-repeat center center/cover;
}

.titulo-principal .capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.titulo-principal .saludo-principal{
    
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20px;
}

.titulo-principal .saludo-principal h1{
    font-size: 3rem;   
}

.titulo-principal .saludo-principal p {
    font-size: 1.2rem;
    margin: 10px 0 20px;
}


/*----------------CARUSEL---------------*/
.seccion-productos {
    margin: 3rem 0;
}

.seccion-productos h2 {
    text-align: center;
    margin: 3rem;
    font-size: 2rem;
    font-family: "Cinzel", serif;
}

.seccion-productos .carousel-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: relative;
  width: 100%; 
  max-width: 1000px;             
  margin: 0 auto;          
  
}
.seccion-productos .carousel-contenedor .viewport {
    width: calc((var(--card-width) * var(--visible)) + (var(--card-gap) * (var(--visible) - 1)));
    overflow: hidden;
}


.seccion-productos .carousel-contenedor .btn-flecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(23, 26, 33, 0.6);
    border: none;
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
    z-index: 20;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s, color 0.2;
}


.seccion-productos .carousel-contenedor .contenido {
  display: flex;
  gap: var(--card-gap);
  transition: transform 0.4s ease;
  will-change: transform;
}

/*tarjeta*/
.seccion-productos .contenido .card, #contenedor-carrito .tarjeta-producto {
    background-color: #203C5C;
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    height: 350px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    flex: 0 0 var(--card-width);
    margin: 0;
}

/*imagen*/
.seccion-productos .contenido .card img, #contenedor-carrito .tarjeta-producto img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    display: block;
    transform: scale(1.20);
}

/*texto*/
.seccion-productos .contenido .card p, #contenedor-carrito .tarjeta-producto p{
    color: white;
    padding: 15px;
}
.seccion-productos .contenido .card h3 , #contenedor-carrito .tarjeta-producto h3 {
  color: white;
  padding-left: 15px;
}

/*botóon del carrito*/
.seccion-productos .contenido .card .btn-carrito, #contenedor-carrito .tarjeta-producto .btn-eliminar-carrito {
  margin: 10px ;
  padding: 5px 0 ;
  background-color: #2A475E;
  color: #C7D5E0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
  
}

.seccion-productos .contenido .card .btn-carrito:hover , #contenedor-carrito .tarjeta-producto .btn-eliminar-carrito:hover {
  background-color: #66C0F4;
  color: #101820;
}

/*-----flechas---------*/
.carousel-contenedor .prev-arcanas,
.carousel-contenedor .prev-inmortales,
.carousel-contenedor .prev-tesoros{

    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    transition: color 0.3s ease;
    z-index: 10;
    left: 0;
   
}

.carousel-contenedor .next-arcanas,
.carousel-contenedor .next-inmortales,
.carousel-contenedor .next-tesoros {
  right: 0;
}


.prev-arcanas:hover, .next-arcanas:hover {
  color: #66C0F4;
}






/*-----------footer---------*/

footer {
    background-color: #171A21;
    color: #C7D5E0; 
    width: 100%;
    height: 20vh;
    padding: 1.5rem 0;
    text-align: center;
    font-family: 'Rajdhani', sans-serif; 
    font-size: 0.9rem;
}

footer a {
    color: #66C0F4; 
    text-decoration: none;
    margin: 0 0.3rem;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #00ADEE; 
}





/*----------formulario de contacto--------*/
.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}


.contacto form {
    width: 100%;
    max-width: 500px;
    padding: 6rem;
    border-radius: 16px;

    background: rgba(255, 255, 255, 0.08); 
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.15);

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
   
}


.contacto form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #C7D5E0;
    font-size: 1.8rem;
}


.contacto label {
    display: block;
    margin-bottom: 1.2rem;
    font-size: 0.95rem;
    color: #C7D5E0;
}


.contacto input[type="text"],
.contacto input[type="email"],
.contacto textarea {
    width: 100%;
    margin-top: 6px;
    padding: 12px 14px;

    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.2);
    background: rgba(255,255,255,0.07);
    color: #fff;

    backdrop-filter: blur(4px);
    font-size: 1rem;
    outline: none;
    transition: 0.3s ease;
}


.contacto input:focus,
.contacto textarea:focus {
    border-color: #66ccff;
    box-shadow: 0 0 8px rgba(102, 204, 255, 0.4);
}


.contacto textarea {
    min-height: 120px;
}


.contacto button {
    display: flex;
    margin: 2rem auto;
    color: white;
    padding: 0.5rem 1rem ;
    font-size: 1rem;
    background-color: #203C5C;
    border: #171A21;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}


.contacto button:hover {
    background-color: #66C0F4;
    color: #101820;
}


.contacto button:active {
    transform: translateY(0);
    box-shadow: none;
}



/*--------carrito de compras----------*/
.pagina-carrito{
    display: flex;
    flex-direction: column;
}

.pagina-carrito h1{
    text-align: center;
    padding:  2rem;
}
.pagina-carrito #contenedor-carrito {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    
    gap: 1rem;
    margin: 0 auto;
    
    
}

.pagina-carrito .acciones-carrito .btn-vaciar-carrito {
    display: flex;
    margin: 2rem auto;
    color: white;
    padding: 0.5rem 1rem ;
    font-size: 1rem;
    background-color: #203C5C;
    border: #171A21;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.pagina-carrito .acciones-carrito .btn-vaciar-carrito:hover {
    background-color: #66C0F4;
    color: #101820;
}
/*---------reseñas-----------------*/

#contenedor-resenas {
    display: grid;
    gap: 1.5rem;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

    width: 80%;
    margin: 0 auto;
}

.card-resena {
    padding: 1.5rem;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(6px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-left: 8px solid transparent;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    height: 300px;
}

.card-resena:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
}

.card-resena .nombre-usuario {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.card-resena .comentario {
    margin: 0.5rem 0 1rem;
    line-height: 1.5;
    color: #d5d5d5;
}

.card-resena .fecha {
    font-size: 0.85rem;
    opacity: 0.7;
}


@media (max-width: 768px) {
    nav #menu-hamburguesa {
        display: block;
        border: none;
    }

    nav #links-menu-hamburguesa {
        position: fixed;
        top: 77px;
        left: 0;
        width: 100%;
        background-color: #171A21;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        clip-path: circle(0px at 90% -10%);
        pointer-events: none;
        z-index: 5;
    }

    nav #links-menu-hamburguesa.active {
        clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }

    nav #links-menu-hamburguesa li {
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.3s ease;
    }

    nav #links-menu-hamburguesa.active li{
        opacity: 1;
        transform: translateY(0);
    }

    nav #links-menu-hamburguesa li:nth-child(1) {transition-delay: 0.1s;}
    nav #links-menu-hamburguesa li:nth-child(2) {transition-delay: 0.2s;}
    nav #links-menu-hamburguesa li:nth-child(3) {transition-delay: 0.3s;}
    nav #links-menu-hamburguesa li:nth-child(4) {transition-delay: 0.4s;}
    nav #links-menu-hamburguesa li:nth-child(5) {transition-delay: 0.5s;}

    .carousel-contenedor .prev-arcanas,
    .carousel-contenedor .prev-inmortales,
    .carousel-contenedor .prev-tesoros{
        left: 15px;
    }

    .carousel-contenedor .next-arcanas,
    .carousel-contenedor .next-inmortales,
    .carousel-contenedor .next-tesoros {
        right: 15px;
    }   

.pagina-carrito #contenedor-carrito {
    display: flex;
    flex-direction: column;
}

.pagina-carrito #contenedor-carrito .tarjeta-producto {
    flex: auto;
}




}