*{
    margin: 0;
}


body {
    background-color: #000000;
}
/*inicio navbar*/

nav{
    display: flex;
    justify-content: space-between;
    background-color: #48308C;
    height: 5rem;
}

nav a{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    text-decoration: none;
    margin-left: 2rem;
}
nav a img {
    height: 3rem;
}
nav a span {
    font-family: "Cinzel", serif;
    font-weight: 700;
    font-optical-sizing: auto;
    color: #909CB8;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-right: 2rem;
    
}

nav ul li a{
    
    color: #909CB8;
    font-family: "Cinzel", serif;
    font-weight: 700;
    font-optical-sizing: auto;
}